.partner-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	justify-content: center;
	align-items: center;
	gap: 10px 12px;
}

.partner-item {
	grid-column: span 6; /* Each item occupies half of the grid on extra-small screens */
}

.partner-item img {
	max-width: 100%;
	height: auto;
}

@media (min-width: 576px) {
	.partner-item {
		grid-column: span 4; /* Each item occupies one-third of the grid on small screens */
	}
}

@media (min-width: 768px) {
	.partner-item {
		grid-column: span 3; /* Each item occupies one-fourth of the grid on medium screens */
	}
}

@media (min-width: 992px) {
	.partner-item {
		grid-column: span 2; /* Each item occupies half of the grid on large screens */
	}
}
